body{
  background-color: white;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  color: purple;
  height: 20px;
  width: 50px;
}


form{
  color: orangered;

}



img{
  height: 150px;
}

h1{
color: orangered;
}

h2{
color: purple;
}

h3{
  color: orangered;
}

p{
  color: purple;
}
